* {
    margin: 0;
    padding: 0;
}

html {
    border: 0;
}

h1 {
    font-size: 40px;
    text-align: center;
}

.line {
    border: 1px solid black;
}

.form {
    text-align: center;
    padding: 25px;
}

.table {
    border: 2px solid black;
}

.table th {
    border: 2px solid black;
}

.table td {
    border: 2px solid black;
    text-align: center;
    width: 200px;
    height: 60px;
}




button {
    width: 200px;
    border-radius: 50px;
    background: transparent;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.hero {
    width: 100%;
    min-height: 100vh;
}